@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-gray-900
  }

  #root {
    @apply text-white container sm:px-8 max-w-[1200px]
  }
}

@layer components {
  .hero {
    box-shadow: 100px 0 white, -100px 0 white;
  }

  @media (min-width: theme(screens.sm)) {
    .hero {
      box-shadow: 0 100px white, 0 -100px white, 100px 0 white;
    }
  }

  .tool {
    background: rgb(37 99 235 / .2);
  }

  .projects {
    @apply grid items-start auto-rows-max gap-8;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/* 
* {
  @apply border border-white
}  */
